body {
    background-color: #fff;
    font-family: sans-serif;
    color: white;
}

.title_body {
    font-family: sans-serif;
    color: #0007;
    text-align: center;
    margin-top: 50px;
}

.card {
    background: #a9a9a9;
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 50px;
    padding: 20px 10px;
    box-shadow: 0px 0px 50px #0007;
    border-radius: 8px;
}

.green-card {
    background: #b6ff83;
}

.yellow-card {
    background: #fff586;
}

.card_title {
    font-size: 22px;
    margin: 0;
}

.card_subtitle {
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 0;
    margin-top: 5px;
}

.card_contend {
    font-size: 9px;
    padding: 10px 20px;
    padding-bottom: 0;
    text-align: justify;
    margin-bottom: 0;
}

.card_img {
    width: 100px;
    border-radius: 50%;
}