body {
    margin: 0;
    font-family: sans-serif;
    color: #ddd;
    background: linear-gradient(to bottom, #333,#000)
}

h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.6em;
    padding: 10px;
}

form{
    background-color: transparent;
    padding: 20px 0;
    max-width: 500px; /* Lo maximo que se puede estirar la pagina sea un numero, en este caso 600px*/
    margin: auto;
    box-shadow: 0px 0px 55px #fff;
    margin-top: 50px;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 50px;
}

.form_input{
    padding: 6px 20px;
}

input, textarea, select {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border: 2px solid #666;
    box-shadow: 0px 0px 15px #0001;
    background: transparent;
    border-radius: 10px;
    color: #666;
}

option {
    background-color: #bde0ff;
}

textarea{
    font-family: sans-serif;
    min-width: 100%;
    resize: none; /* Con esto lo que hacemos es no permitir que se pueda modificar el tamano del texarea.*/
    min-height: 100px;
}

label {
    font-size: 0.9em;
    padding: 4px;
    line-height: 2;
}

.checkbox {
    width: auto;
    height: 10px;
}

fieldset {
    border-radius: 5px;
    border: 1px solid #666;
    padding: 0 15px 15px 15px;
    margin: 20px;
}

legend {
    padding: 0 6px;
    color: #777;
}

a {
    color: #69f;
    text-decoration: none;
}