body {
    background-color: #333;
    color: #ddd;
}
details {
    background-color: transparent;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 6px;
}

summary {
    background-color: transparent;
    border-bottom: 1px solid #444;
    padding: 9px;
}

