body {
    background-color: #333;
    color: #ddd;
    font-family: sans-serif;
    
}
details {
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 4px; 
    padding: 9px;
    color: #aaa
}

summary {
    background-color: transparent;
    border-bottom: 1px solid #ddd;
    padding: 9px;
    color: #ddd;
}

ul {
    font-weight: 100;
}

