body {
    background-color: #fff;
    font-family: sans-serif;
    color: white;
}

.title_body {
    font-family: sans-serif;
    color: #0007;
    text-align: center;
    margin-top: 50px;
}

.card {
    background: #a9a9a9;
    text-align: center;
    width: 330px;
    margin: auto;
    margin-top: 50px;
    padding: 20px 10px;
    box-shadow: 0px 0px 50px #0007;
    border-radius: 10px;
    display: inline-block;
    margin: 50px;
}

.metatasg {
    background: #ff7a7a;
}

.favicons {
    background: #4277ff;
}