body {
    margin: 0;
    font-family: sans-serif;
    color: #ddd;
    background-color: #222;
}

form{
    background-color: transparent;
    padding: 20px;
    max-width: 500px; /* Lo maximo que se puede estirar la pagina sea un numero, en este caso 600px*/
    margin: auto;
    box-shadow: 0px 0px 55px #fff2ff;
    margin-top: 50px;
    border-radius: 8px;
    font-size: 16px;
}

input, textarea, select {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border: 2px solid #666;
    box-shadow: 0px 0px 15px #0001;
    background: transparent;
    border-radius: 4px;
    color: #666;
    margin: 6px 0;
}

fieldset {
    margin: 20px 0;
    border-radius: 5;
}

legend {
    padding: 0 6px;
}