body {
    margin: 0;
    font-family: sans-serif;
    color: #666;
    background-color: #bde0ff;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
} 

h2 {
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
}

form{
    background-color: transparent;
    padding: 20px 0;
    max-width: 600px; /* Lo maximo que se puede estirar la pagina sea un numero, en este caso 600px*/
    margin: auto;
    box-shadow: 0px 0px 55px #0007;
    margin-top: 50px;
    border-radius: 8px;
}

.form_input{
    padding: 6px 20px;
}


input, textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border: 2px solid #666;
    box-shadow: 0px 0px 15px #0001;
    background: transparent;
    border-radius: 10px;
    color: #666;
}

textarea{
    font-family: sans-serif;
    min-width: 100%;
    resize: none; /* Con esto lo que hacemos es no permitir que se pueda modificar el tamano del texarea.*/
    min-height: 100px;
}